<app-navbar ></app-navbar>
<div class="min-h-full flex mt-4 justify-end">
<router-outlet></router-outlet>
<div class="min-h-full w-75" *ngIf="width>1024"></div>
<app-conversations-list *ngIf="width>1024"></app-conversations-list>
</div>
<div *ngIf="width>1024" class="fixed bottom-0 left-0 flex pb-[2px] gap-x-4 px-4 conversation-holder justify-end">
    <app-conversation *ngFor="let conversation of getOpenConversations();let i=index" [index]="i"  [conversation]="conversation" ></app-conversation>
</div>