<app-navbar ></app-navbar>
<div class="costume-container flex mt-4 justify-end max-lg:w-full">
<router-outlet></router-outlet>
<div class="costume-container w-75 max-lg:hidden block" ></div>
<app-conversations-list *ngIf="width>1024"></app-conversations-list>
</div>
<div  class="fixed bottom-0 right-80 flex pb-[2px] gap-x-4 px-4 conversation-holder justify-end max-lg:hidden">
    <app-conversation *ngFor="let conversation of getOpenConversations();let i=index" [index]="i"  [conversation]="conversation" ></app-conversation>
</div>