<app-header></app-header>
<div id="container">
    <div id="usersList">
        <ul>
            <li ><h2>Messenger</h2></li>
            <li><input type="text" (keyup)="search()" placeholder="Search" [(ngModel)]="searchString"></li>
            <li  *ngFor="let contact of contacts">
                <div class="user" [routerLink]="['/conversation/'+contact.getId()]">
                    <img src="https://generated.vusercontent.net/placeholder-user.jpg" alt="user image">
                    <div>
                        <span class="usernName">{{contact.getLastName()+" "+ contact.getFirstName()}}</span><br>
                        <span  *ngIf="contact.getMessage()!=null&&contact.getMessage().getConent().length<=30">{{contact.getMessage().getConent()}}</span><span *ngIf="contact.getMessage()!=null&&contact.getMessage().getConent().length>30">{{contact.getMessage().getConent().slice(0,29)+"..."}}</span>
                        <span *ngIf="contact.getMessage()==null">"Start a conversation now"</span>
                    </div>
                </div>   
            </li>
           

        </ul>
       
    </div>
    <div id="conversation" *ngIf="targetUser!=null">
        <div id="conversation-header" > <img src="https://generated.vusercontent.net/placeholder-user.jpg" alt="user image"><h3 class="usernName" >{{targetUser.getLastName()+" " +targetUser.getFirstName()}}</h3></div>
        <div id="messages" *ngIf="conversation.length!=0">
            <div *ngFor="let message of conversation"  [ngClass]="{'sent': message.getSenderId() === userService.getCurrentId(), ' received' : message.getRecipientId() === userService.getCurrentId()}">{{message.getConent()}}</div>
          
        </div>
        <div *ngIf="conversation.length==0" class="adivce-text" id="noMessages">
            start a conversation with {{targetUser.getFirstName()}} now!
        </div>
        <div id="new-message" >
            <input (keyup.enter)="sendMessage()" type="text" [(ngModel)]="newMessage" placeholder="new message">

        </div>
    </div>
    <div *ngIf="targetUser==null" id="noConversation" class="adivce-text">
        <h3>Search for a user and start yapping with them now</h3>
    </div>

</div>
