
<div class="px-3 py-2 h-12 rounded-2xl border border-gray-300 bg-gray-50 text-gray-700 placeholder:text-gray-400 cursor-text inputFocus flex items-center relative hh" [ngClass]="width">
    <svg *ngIf="icon=='search'" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="absolute  left-2">
  <circle cx="11" cy="11" r="8"></circle>
  <path d="m21 21-4.3-4.3"></path>
    </svg>

    <input [type]="type" class="border-none w-full h-full outline-none  "[ngClass]="{'pl-6': icon}" [placeholder]="placeholder">
</div>    
