:host{
      display: flex;
      justify-content: space-evenly;
     
      max-height: 100%;
     
      
}
@media screen and (min-width: 1024px) {
  :host {
align-items: flex-start;
    width: calc(100% - 300px);
    overflow: hidden;
  }
}
@media screen and (max-width: 1024px) {
  :host {
      flex-direction: column;
      row-gap: 16px;
      width: 100%;

  }
}