<div class="bg-[#F8FDFF] px-3 pb-2 pt-4 rounded-xl mt-4 shadow border border-gray-200">
        <div class="flex items-center justify-between w-full pb-1 ">
            <div class="flex items-baseline flex-col">
                <h5 class="font-semibold text-sm">{{reply.profile.profileName}} </h5><span class="text-gray-500 text-[12px] font-semibold pl-1">{{formateDate(reply.date)}}</span>
            </div>
            <div class="flex">
        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  [attr.fill]="reply.liked?'#e91e63':'none'"  [attr.stroke]="reply.liked?'#e91e63':'currentColor'" stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-heart cursor-pointer" (click)="like()" ><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" /></svg>
                <span class="text-sm">{{reply.likesCount}}</span>
            </div>
        </div>
        <p class="py-1 px-2 text-sm text-gray-700">
            {{reply.content}}
        </p>
        
    </div>